<div data-role="header">
	<h1>CookLog Home</h1>
</div>

<div data-role="content">
	<p>いつ、どの料理を、だれに提供したのかメモするサイトです。まずは、料理を追加しましょう。※提供相手は料理の追加時にも登録できます。</p>
	
	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider">料理</li>
		<li><a href="cookLog">料理の履歴</a></li>
		<li><a href="cookAdd">料理の追加</a></li>
	</ul>
	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider">提供相手</li>
		<li><a href="memberList">提供相手の一覧</a></li>
		<li><a href="memberAdd">提供相手の追加</a></li>
	</ul>
	
	<p>このサイトはデータをサーバー上に保持することはありません。すべて、ブラウザのローカルストレージに保存されます。そのため、登録したデータは、ブラウザ毎に固有となります。（将来的にブラウザ間でデータを共有するための仕組みを導入するかもしれません。）</p>
</div>