<script src="/js/memberEdit.js"></script>

<div data-role="header">
	<h1>提供相手の編集</h1>
	<a data-icon="back" data-rel="back" data-direction="reverse">Back</a>
	<a href="index" data-icon="home" data-direction="reverse">Home</a>
</div>

<div data-role="content">
	<form action="#" method="post">
		<input type="hidden" id="hdnId" />
		<div data-role="fieldcontain">
			<label for="txtName">名前：</label>
			<input type="text" name="txtName" id="txtName" value="" placeholder="名前を入力してください" required />
		</div>
		<input type="submit" id="btnAdd" data-theme="b" data-rel="back" data-icon="check" value="保存" />
		<a id="btnDelete" href="#" data-role="button" data-icon="delete">削除</a>
	</form>
</div>